@use "../styles/variables" as v;

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  background-color: v.$background;
  overflow-x: hidden;
}
