@use "/src/styles/variables" as v;

.header {
  background-color: v.$white;
  width: 100vw;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    padding: 1rem 0 1rem;
    width: 90vw;
    * {
      display: flex;
      flex-direction: row;
    }
    .userPanel {
      gap: 3rem;
    }
  }
}
