@use "/src/styles/variables" as v;

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("public/assets/images/image.png");
  background-position: 0 -500px;
  background-size: cover;
  background-repeat: no-repeat;
  hgroup {
    padding: 2rem;
    width: 50%;
    text-align: center;
    * {
      padding: 1rem;
      color: v.$white;
      text-shadow: 0 0 1rem v.$black;
    }
  }
}
