@use "/src/styles/variables" as v;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: unset;
  border: unset;
  background-color: none;
  height: 50px;
  &.accent {
    background-color: v.$accent;
  }
  &.interactive {
    background-color: v.$interactive;
  }
}

.icon {
  filter: brightness(0.6);
  aspect-ratio: 1/1;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.text {
  flex-grow: 0;
  padding: 0.25rem 1rem;
  width: 100%;
  color: v.$white;
}
